bibtex/Hoyos-Books.bib
bibtex/Hoyos-Papers.bib
bibtex/Hoyos-Patents-Cited by US 8457367.bib
bibtex/Hoyos-Patents.bib
bibtex/Hoyos-ToSort.bib
bibtex/Hoyos.bib

*.bcf
*.pdf
*.run.xml
*.cls

*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
